.page-content {
  .contact-content {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eaeaea;

    .contact-title {
      color: #4a4a4a;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }
  }

  label {
    color: #4a4a4a;
    font-size: 16px;
  }

  .our-location {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eaeaea;

    .our-location-title {
      color: #4a4a4a;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }

    .our-kantor-title {
      color: #4a4a4a;
      font-size: 18px;
    }

    .location-kantor {
      color: #999898;
      font-size: 16px;
      line-height: 30px;
    }
  }
}
